@import "tailwindcss";

/* styles/global.css */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --navbar-bg: transparent; /* Para el header transparente */
}

.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --navbar-bg: transparent; /* O ajusta si quieres un fondo en modo oscuro */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.nav-link {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--teal-color);
}
