---
/* tecnologias.astro */
/* Puedes agregar importaciones aquí si lo requieres */
---

<!-- Sección de Tecnologías -->
<section class="py-12 bg-transparent dark:bg-gray-900 font-poppins fade-in">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg]
                bg-gradient-to-tr from-[#cbfbf1] to-[#009689] dark:from-[#1f3a44] dark:to-[#2dd4bf] opacity-30
                sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
         style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%,
                                      72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%,
                                      27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%,
                                      74.1% 44.1%)">
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <h2 class="text-5xl font-bold text-center text-teal-600 dark:text-teal-400">Tecnologías</h2>
    <p class="mt-8 text-center text-gray-500 dark:text-gray-300 text-2xl font-medium">
      Estas son algunas de las tecnologías con las que trabajo.
    </p>

    <div class="mt-8 grid grid-cols-4 sm:grid-cols-4 md:grid-cols-8 gap-6 items-center justify-center">
      {[
        { src: "html5.svg", alt: "HTML" },
        { src: "css3.svg", alt: "CSS" },
        { src: "javascript.svg", alt: "JavaScript" },
        { src: "astro.svg", alt: "Astro" },
        { src: "tailwindcss.svg", alt: "Tailwind CSS" },
        { src: "git.svg", alt: "Git" },
        { src: "github.svg", alt: "GitHub" },
        { src: "typescript.svg", alt: "TypeScript" }
      ].map(({ src, alt }) => (
        <div class="flex items-center justify-center transition transform duration-500 ease-in-out hover:scale-130 animate-fadeIn" key={alt}>
          <img src={src} alt={alt} class="h-16" aria-label={alt} role="img" />
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 3s ease-out forwards;
  }
</style>