---
import { technologies } from '../data/technologies';
import TechIcon from '../components/TechIcon.astro';
---

<!-- Sección de Tecnologías -->
<section class="py-12 bg-transparent dark:bg-gray-900 fade-in">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg]
                bg-gradient-to-tr from-[#cbfbf1] to-[#009689] dark:from-[#1f3a44] dark:to-[#2dd4bf] opacity-30
                sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
         style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%,
                                      72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%,
                                      27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%,
                                      74.1% 44.1%)">
    </div>
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Encabezado más limpio y accesible -->
    <h2 class="text-4xl md:text-5xl font-bold text-center text-teal-600 dark:text-teal-400 tracking-tight font-poppins">
      Tecnologías
    </h2>
    <p class="mt-6 py-8 text-center text-gray-600 dark:text-gray-300 text-xl md:text-2xl font-medium max-w-3xl mx-auto font-poppins">
      Una selección de las herramientas y tecnologías que utilizo en mis proyectos.
    </p>

    <!-- Grid responsivo y accesible -->
    <div class="mt-12 grid grid-cols-4 sm:grid-cols-4 md:grid-cols-8 gap-8 justify-items-center">
      {technologies.map((tech) => (
        <TechIcon src={tech.src} alt={tech.alt} label={tech.label} />
      ))}
    </div>
  </div>
</section>